In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [2]:
producer = KafkaProducer(bootstrap_servers=['localhost:9092'], 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
producer.send('Amazon_Stock_Daily_Data', value={'hello':'world'})

In [6]:
df = pd.read_csv("./AMZN.csv")

In [7]:
df.head()

   Unnamed: 0        Date      Open      High       Low     Close      Volume
0           0  1997-05-15  0.121875  0.125000  0.096354  0.097917  1443120000
1           1  1997-05-16  0.098438  0.098958  0.085417  0.086458   294000000
2           2  1997-05-19  0.088021  0.088542  0.081250  0.085417   122136000
3           3  1997-05-20  0.086458  0.087500  0.081771  0.081771   109344000
4           4  1997-05-21  0.081771  0.082292  0.068750  0.071354   377064000

In [14]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('Amazon_Stock_Daily_Data', value=dict_stock)
    sleep(1)

KeyboardInterrupt: